name: Test ASReview webapp

# CINTENT >> MANUAL TRIGGER
# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  # CINTENT >> NO_TRACEE
  # prettier:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0
  #     - name: Prettify code
  #       uses: creyD/prettier_action@v4.3
  #       with:
  #         prettier_options: --write **/*.{js,jsx,css,html}
  #         only_changed: True

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@3638849e94bdb037f0a405375686a8550e6df904
        with:
          nonblocking: true

      - name: Install ruff
        run: |
          pip install .[dev]

      - name: Lint Python
        run: |
          ruff check asreview/webapp

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}

  compile-and-test:
    strategy:
      matrix:
        # CINTENT >> REMOVE_MATRIX
        # os: [ubuntu-latest, windows-latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      
      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@3638849e94bdb037f0a405375686a8550e6df904
        with:
          nonblocking: true

      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "asreview/webapp/package-lock.json"

      - name: Install setuptools
        run: |
          pip install setuptools

      - name: Compile assets
        run: |
          python setup.py compile_assets

      - name: Install pytest and package
        run: |
          pip install pytest pytest-random-order pytest-xdist
          pip install --no-cache-dir .

      - name: Test flask web app
        run: |
          pytest --random-order -n 6 asreview/webapp/tests

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
